/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

@import url('https://fonts.googleapis.com/css?family=Lato');
@font-face {
    font-family: 'fontello';
    src: url('/fonts/fontello/fontello.eot?75228816');
    src: url('/fonts/fontello/fontello.eot?75228816#iefix') format('embedded-opentype'),
         url('/fonts/fontello/fontello.woff?75228816') format('woff'),
         url('/fonts/fontello/fontello.ttf?75228816') format('truetype'),
         url('/fonts/fontello/fontello.svg?75228816#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
}

.fontello-icon
{
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: none;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */

    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;
    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;
    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;
    /* You can be more comfortable with increased icons size */
    /* font-size: 120%; */
    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

html { font-family: 'Lato', sans-serif; }
.icon-block { padding: 0 15px; }
.icon-block .material-icons { font-size: inherit; }
strong { font-weight: bold; }

/* ============================ Modal Alert ==================================*/
#alert .title-alert {
   text-align: center;
   font-size: 1.6em;
   color: green;
   font-weight: bold;
   margin-bottom: 20px;
}
#alert .text-alert {
   text-align: justify;
   font-size: 1.1em;
   color: #aaa;
   margin-top: 30px;
}

/* =========================== Class Helpers ================================ */
.h-5     { height: 5px; }
.h-10    { height: 10px; }
.h-30    { height: 30px; }
.height-100porcento { height: 100%; }
.m-t-30  { margin-top: 30px; }
.m-t-40  { margin-top: 40px; }
.m-t-50  { margin-top: 50px; }
.m-t-100 { margin-top: 100px; }
.m-t-20  { margin-top: 20px; }
.m-t-25  { margin-top: 25px; }
.m-t-28  { margin-top: 28px; }
.m-t-60  { margin-top: 60px; }
.m-b-5   { margin-bottom: 5px; }
.m-b-10  { margin-bottom: 10px; }
.m-b-20  { margin-bottom: 20px; }
.m-b-40  { margin-bottom: 40px; }
.m-b-60  { margin-bottom: 60px; }
.m-l-20  { padding-left: 20px; }
.p-r-20  { padding-right: 20px; }
.p-0     { padding: 0 !important; }
.p-l-0   { padding-left: 0 !important; }
.p-l--20 { margin-left: -20px; }
.p-t-20  { padding-top: 20px; }
.p-t-30  { padding-top: 30px; }
.p-t-60  { padding-top: 60px; }
.p-l-16  { padding-left: 16px; }
.p-r-10  { padding-right: 10px; }
.p-l-10  { padding-left: 10px; }
.p-r-0   { padding-right: 0 !important; }
.teste   { border: solid 1px #00e5ff; }
.teste2  { border: solid 1px red; }
.teste3  { border: solid 1px purple; }

.item-append { opacity: 0; }

/* ====================== Styles common to all ============================== */

#aviso-envio {
    color: #32CD32;
    font-size: 1.5em;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    text-align: center;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px blackw;
}

#voltarAoTopo {
    z-index: 1;
    width: 88px;
    height: 50px;
    right: 0;
    bottom: 10px;
    position: fixed;
    background: url(/images/voltar_ao_topo.png);
    transition: 0.6s ease-out;
}
#voltarAoTopo:hover {
    cursor: pointer;
    -webkit-filter: drop-shadow(5px 5px 8px black);
    filter: drop-shadow(5px 5px 8px black);
    transition: 0.3s;
}

#bt-voltar {
    width: 105px;
    height: 40px;
    margin: 0 auto;
    background: url(/images/bt_voltar.png);
    transition: 0.6s ease-out;
}
#bt-voltar:hover {
    cursor: pointer;
    -webkit-filter: drop-shadow(0px 0px 4px black);
    filter: drop-shadow(0px 0px 4px black);
    transition: 0.3s;
}

/* Controls */
.owl-destaques .owl-controls { margin-top: 0 !important; }
.owl-destaques .owl-pagination {
  position: relative;
  display: table;
  margin: -8px auto;
  padding: 5px 35px;
  border-radius: 10px;
  background: white;
}


/* ============================ Top and menu ================================ */
.menu-desktop {z-index: 99999; background-color: #0a5184; }
.menu-desktop .row { margin-bottom: 0px; }

.topo { height: 85px; }
.logo {
    transition: 0.3s;
    margin-top: 14px;
}
.logo:hover {
    transition: 0.3s;
    transform: scale(1.05);
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -o-transform: scale(1.05);
    -ms-transform: scale(1.05); /* IE 9 */
}

.menus { width: 100%; }

.11 ul {
    list-style-type: none;
    list-style: none;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.group-social-network ul li { float: none;
    display: inline-block;
    color: white;
    margin: 0;
    padding-right: 15px;
  }
.group-social-network ul li input { color: black !important; cursor: pointer; }
.group-social-network ul li div { margin: 2px; font-size: 1.3em; }

.group-social-network ul li div[buscar] { margin-left: -5px; }
.group-social-network ul li div[buscar]:hover { color: #A9FFF7; }
.group-social-network > ul li div[campo] { margin: 0 10px; }

.group-social-network > ul[expand="true"] { height: 24px; }

.group-social-network > ul[expand="false"] li div[buscar] { display: block; padding-right: 10px; }
.group-social-network > ul[expand="false"] li div[campo] { display: none; }
.group-social-network > ul[expand="true"] li div[buscar] { display: none; }
.group-social-network > ul[expand="true"] li div[campo] { display: block; }

.group-social-network ul li div[redes-sociais] { padding: 0 0 0 10px; }
.group-social-network ul li a { color: white; }
.group-social-network ul li:last-child a { padding-right: 10px; }

.box-flickr {}
.box-flickr .bola-flickr {
    width: 25px;
    height: 25px;
    border-radius: 25px;
    background-color: white;
    float: left;
    margin-right: 3px;
    margin-top: 8px;
}

.principal-itens ul {
    list-style-type: none;
    list-style: none;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.principal-itens ul li { float: right; font-size: 1em; }
.principal-itens li a {
    border-bottom: solid 0px transparent;
    color: white;
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 0 10px;
    height: 68px;
    line-height: 70px;
    transition: 0.7s;
}
.principal-itens li a:hover {
    border-bottom: solid 3px #A9FFF7;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: white;
    transition: 0.5s;
}

.show-xlarge { display: block; }
.hide-desketop-and-down { display: none; }
.menu-icone a i { font-size: 26px; margin-top: 20px; margin-bottom: 20px; transition: 0.3s; }
.menu-icone a i:hover { color: #A9FFF7; transition: 0.3s; }

@media (min-width: 1300px) {
    .hide-desketop-and-down { display: block; }
    .show-xlarge { display: none; }
}
@media (max-width: 1300px) {

}
/* Cell-Phone */
@media (max-width: 600px) {

}

.logo-mobile-left { padding-top: 16px; }

.menu-mobile { /*display: none;*/ }
.user-view { background-color: #011639; }



/* ============================= Menu mobile ================================ */
.fechar-menu-mobile {
    position: absolute;
    font-size: 30px;
    font-weight: bold;
    top: -6px;
    right: 5px;
    padding: 0px 5px;
    color: #A9FFF7;
}

.fechar-menu-mobile:hover { color: white; cursor: pointer; }
.menu-mobile-info { margin-top:10px; padding-bottom:10px; }
.menu-mobile-info div,
.menu-mobile-info div a {
    font-size: 12px;
    color: #fff;
    display: block;
    line-height: normal;
    padding:0;
}

.menu-mobile-info div:first-child a { text-align: center; }
.menu-mobile-info div a:hover { color: #A9FFF7; text-decoration: underline; }
.menu-mobile-info div:first-child a { margin: 10px auto 25px; }
.menu-mobile-info div:nth-child(2) a { font-size: 23px; font-weight: bold; }
.menu-mobile-info div:last-child a { margin-top: 10px; margin-bottom: 15px; }


.sidenav .box-flickr .bola-flickr {
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.54);
    float: left;
    margin-right: 1px;
    margin-top: 19px;
}

/* ============================ Carregar mais ============================== */
.title-carregar-mais {
    border: solid 1px #034EA1;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-right: transparent;
    border-radius: 10px;
    font-size: 1em;
    padding: 2px 12px;
    width: 200px;
    color: #034EA1;
    margin: 0 auto 50px;
    transition: 0.3s;
}
.title-carregar-mais:hover {
    color: #000;
    cursor: pointer;
    border-color: #000;
    text-decoration: underline;
    transition: 0.3s ease-out;
}

/* ============================ OWLs Style all ============================== */
.owl-page span:hover { box-shadow: 0 0 10px black; transition: 0.2s; }
.owl-page.active span { background: radial-gradient(#8cd6f6 40%, #007dc4 ) !important; }
.owl-page span {
    background: radial-gradient(#034ea1 40%, #001940) !important;
    width: 14px !important;
    height: 14px !important;
    transition: 0.3s ease-out;
    opacity: 1 !important;
}


/* ================================ Footer ================================== */
footer { background: #1A1A1A; color: white; padding-top: 30px; }
footer .menus {  }


.principal-itens ul {
    list-style-type: none;
    list-style: none;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.principal-itens ul li { float: right; font-size: 0.85em; }
.principal-itens li a {
    border-bottom: solid 0px transparent;
    color: white;
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 0 10px;
    height: 68px;
    line-height: 70px;
    transition: 0.7s;
}
.principal-itens li a:hover {
    border-bottom: solid 3px #A9FFF7;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: white;
    transition: 0.5s;
}



footer .principal-itens li { float: left; font-size: 0.89em; }
footer .principal-itens li a { font-size: 0.89em; color: white; padding: 0 10px; }
footer .principal-itens li a:hover { color: #A9FFF7; }

footer .menu-social { clear: both; }
footer .menu-social ul { margin: 0 0 15px 0; }
footer .principal-itens li a { height: 50px; line-height: 50px; padding: 0 10px; }

.footer-logo-mobile img { margin: 20px 0; }
.footer-logo-mobile .footer-logo-text { margin-bottom: 20px; }
.footer-menu-mobile { width: max-content; margin: 0 auto; }

footer .contato-rodape { font-size: 0.85em; margin: 30px 0px 17px 5px; color: #95989A; }
footer .contato-rodape .col { padding-left: 7px; /* border-left: solid 3px #95989A; */ }
footer .contato-rodape .col div div:first-child { font-size: 0.85em; margin-bottom: 3px; }
footer .endereco-contato-rodape { margin-top: 18px; }

footer .contato-rodape .title-contato { font-size: 1.4em; line-height: 1.1em; color: white !important; margin-top: 10px; }



footer .contato-rodape table { margin-top: 20px; }
footer .contato-rodape table tr td { color: white; padding: 5px; }
footer .contato-rodape table tr td div {
    width: 20px;
    height: 20px;
    float: left;
    background-position: center !important;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
}

footer .contato-rodape table tr td:first-child {
    vertical-align: top;
}

footer .contato-rodape .localizacao {
    background: url(/images/Home/icone-localizacao.png) no-repeat;
}
footer .contato-rodape .fone {
    background: url(/images/Home/icone-fone.png) no-repeat;
}
footer .contato-rodape .email {
    background: url(/images/Home/icone-email.png) no-repeat;
}
footer .contato-rodape .site {
    background: url(/images/Home/icone-site.png) no-repeat;
}

footer .contato-rodape table tr td p {
    margin: 0;
    padding: 0;
    font-size: 0.9em;
    float: left;
    background-position: center !important;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
}

@media (max-width: 1300px) {
    footer .menus { display: none; }
    footer .box-menu-social { margin-top: 25px !important; }
    footer .col {
        clear: both;
        width: auto !important;
        margin: 0 auto;
        float: none !important;
        text-align: center;
    }

    footer .menu-social ul { text-align: center; }
    footer .group-social-network ul li:first-child { width: 100%; }
    footer .group-social-network ul li a { font-size: 1.9em; padding: 10px; }
    footer .contato-rodape .col {
        border-left: 0;
        border-top: solid 3px #95989A;
        padding: 15px;
    }
    footer .contato-rodape { margin-left: auto; font-size: 1.2em; }

  }

#alternativa-digital { text-align: center; background-color: #070707; padding: 10px 0 5px; margin-top: 50px; }
